.App {
  /*text-align: left;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.centradoLogin{
  height: 10em;
  width: 20em;
  margin: auto;
  margin-top: 5em;
}

.navbar-rtl{
   margin-right: auto;
   margin-left: 0;
}

.margenes-menu-lat{
  margin-top: 2em;
}

.margenes-box-listado{
  margin-top: 2em;
}

.campo-input-generico-padding{
  padding-top: 0em;
  padding-left:1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.error-message-input{
  font-size: 0.8em;
  color: #FF3860;
  padding-left:1em;
}

.boton-save{
  float: left;
}

.boton-cancel{
  float: right;
}

.posicion-grids-seleccon{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.centrar-contenido-div{
  text-align:center;
}
